@import "../sign-in/sign-in.component.scss";
@import "../sign-up/sign-up.component.scss";

mat-card {
  height: 597px !important;
}

.change-height {
  height: 340px !important;
  justify-content: center;
}

.block__btn-box {
  justify-content: center !important;
}

.block__alert-name {
  top: 263px !important;
}

.block__alert-email {
  top: 330px !important;
}

.block__alert-password {
  top: 417px !important;
}

.block__google-log-in {
  margin-top: 5px !important;
  margin-bottom: 0 !important;
  img {
    height: 35px !important;
  }
}

.email {
  color: var(--color-blue-primary-hover);
  margin: 0;
  font-weight: 500;
}
