<div class="block__sign-up">
  <img src="../../../../assets/img/logo+text.png">

  <mat-card *ngIf="!this.authService.isLoggedInForMerging">
    <mat-card-content>
      <form class="example-form" [formGroup]="signInForm">
        <span class="sign-in__headline">Accounts verbinden</span>
      <span class="sign-in__info-text">Wir haben festgestellt, dass du bereits einen DABubble Account hast. Bitte melde dich zunächst mit deinem Passwort und deiner Email Adresse an und anschließend mit deinem Google Account. Verwende jeweils die selbe E-Mail-Adresse, so können beide Accounts zusammengeführt werden und zukünftig kannst du dich mit beiden Anmeldemethoden einloggen.</span>

      <div class="block__input">
        <mat-icon class="material-icons-outlined mail-icon" [class.icon-color-black]="emailForm?.dirty || emailForm?.touched">mail</mat-icon>
        <input formControlName="emailForm" type="email" placeholder="beispielname@email.com" #userEmail>
      </div>
      <div class="block__alert-email" *ngIf="emailForm?.invalid && (emailForm?.touched)">
        <div *ngIf="emailForm?.errors?.['required']">*Bitte gib eine E-Mail-Adresse ein.</div>
        <div *ngIf="emailForm?.errors?.['email']">*Diese E-Mail-Adresse ist leider ungültig.</div>
        <div *ngIf="emailForm?.errors?.['pattern']">*E-Mail-Adresse enthält ungültige Zeichen.</div>
      </div>

      <div class="block__input">
        <mat-icon class="material-icons-outlined mail-icon" [class.icon-color-black]="passwordForm?.dirty || passwordForm?.touched">lock</mat-icon>
        <input formControlName="passwordForm" type="password" placeholder="Passwort" #userPassword>
      </div>
      <div class="block__alert-password" *ngIf="passwordForm?.invalid && (passwordForm?.dirty || passwordForm?.touched)">
        <div *ngIf="passwordForm?.errors?.['required']">*Bitte gib ein Passwort ein.</div>
      </div>

      <span class="sign-in__forgot-password" routerLink="/forgot-password">Passwort vergessen?</span>

      <div class="block__btn-box">
        <button
        class="btn__log-in"
        (click)="this.authService.signIn(userEmail.value, userPassword.value, 'merge-accounts')"
        [disabled]="signInForm.invalid"
        [class.btn-disabled]="signInForm.invalid"
        >Anmelden & weiter zum Google Log-in</button>
      </div>

      <div class="block__error" *ngIf="this.authService.logInError">
        *Log-in Daten sind unvollständig oder stimmen nicht überein.
      </div>
    </form>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="this.authService.isLoggedInForMerging">
    <div class="block__google-log-in" (click)="this.authService.linkAccounts()">
      <img src="../../../../../assets/img/google-icon.png">
      <span>Mit Google anmelden & Accounts verbinden</span>
    </div>
  </mat-card>
</div>
