@import "../sign-in/sign-in.component.scss";
@import "../sign-up/sign-up.component.scss";

mat-card {
  height: 500px !important;
}

.block__btn-box {
  justify-content: center !important;
}

.block__alert-email {
  top: 264px !important;
}

.block__alert-password {
  top: 331px;
}
