<div id="menuCreateChannel" class="mobile__menu">
    <div (click)="closeMenu()" class="orientation">
        <div>
            <span></span>
        </div>
    </div>

    <div class="container__header">
        <span>Add User</span>
        <span (click)="closeMenu()" class="material-icons-outlined close__element"> close </span>
    </div>

<div class="radio-form">

        <div class="container__input">
            <input 
            id="radioAllUser" 
            name="addOption"
            type="radio"
            value="all"
            (click)="hideUserSearchbarNewChannel()"
            checked
            >
            <label for="radioAllUser">Add all members of 
                <span>OfficeTeam</span>
            </label>
        </div>

        <div class="container__elements">

            <div class="container__input">
                <input 
                id="radioSingleUser"
                name="addOption" 
                type="radio"
                value="single"
                (click)="showUserSearchbarNewChannel()"
                >
                <label for="radioSingleUser">Add certain people</label>
            </div>

            <form [formGroup]="searchUserForm">
                <div id="new-channel-search-user" class="container__search hide">
                    <input 
                    id="searchbar-user"
                    (keyup)="searchForUser()"
                    formControlName="searchInputForm"
                    type="text" 
                    placeholder="Enter Name"
                    >

                    <div class="block__alert" *ngIf="searchInputForm?.invalid && (searchInputForm?.dirty || searchInputForm?.touched)">
                        <div *ngIf="searchInputForm?.errors?.['minlength']">*Please use at least 2 characters.</div>
                    </div>

                    <div 
                    id="filtered-user" 
                    class="container__filteredUser"
                    *ngFor="let user of this.filteredUser"
                    >
                        <div class="container__user">
                            <div class="container__user--avatar">
                                <img class="avatar-small" src="{{ user.photoUrl}}" alt="avatar">
                                <span class="onlinestatus onlinestatus--color-{{ user.onlineStatus }}"></span>
                            </div>

                            <p>{{ user.name }}</p>
                        </div>
                    </div>

                    <div id="added-user"></div>
                </div>
            </form>
        </div>

        <div class="container__btn--right">
            <button
            (click)="createChannel()"
            class="btn__log-in"
            >
                Create
            </button>
        </div>
    </div>
</div>