<div id="overlay__newChannel" class="overlay" *ngIf="showOverlay" (click)="closeMenu()"></div>

<div id="menuNewChannel" class="mobile__menu">
    <div (click)="closeMenu()" class="orientation">
        <div>
            <span></span>
        </div>
    </div>

    <div class="container__header">
        <span>Add User</span>
        <span (click)="closeMenu()" class="material-icons-outlined close__element"> close </span>
    </div>

<div class="radio-form">

        <div class="container__input">
            <input 
            id="radioAllUser" 
            name="addOption"
            type="radio"
            value="all"
            (click)="hideSearchbar()"
            checked
            >
            <label for="radioAllUser">Add all members of 
                <span>OfficeTeam</span>
            </label>
        </div>

        <div class="container__elements">

            <div class="container__input">
                <input 
                id="radioSingleUser"
                name="addOption" 
                type="radio"
                value="single"
                (click)="showSearchbar()"
                >
                <label for="radioSingleUser">Add certain people</label>
            </div>

            <form [formGroup]="searchUserForm">
                <div id="new-channel-search-user" class="container__search hide">
                    <input 
                    id="searchbar-user"
                    #inputSearchbarUser
                    (keyup)="searchForUser()"
                    (click)="resetErrorMsg()"
                    formControlName="searchInputForm"
                    type="text" 
                    placeholder="Enter Name"
                    >

                    <!-- 
                        error msg
                    -->
                    <label *ngIf="this.alreadyFiltered" for="searchbar-user" class="block__alert">*User already added</label>
                    <div class="block__alert" *ngIf="searchInputForm?.invalid && (searchInputForm?.dirty || searchInputForm?.touched)">
                        <div *ngIf="searchInputForm?.errors?.['minlength']">*Please use at least 2 characters.</div>
                    </div>

                    <!-- 
                        render filtered User 
                    -->
                    <div id="filtered-user" 
                    class="container__filteredUser"
                    *ngIf="this.filteredUser.length >= 1"
                    >
                        <div 
                        *ngFor="let user of this.filteredUser"
                        class="container__user-Elements" 
                        (click)="addFilteredUser(user)"
                        >

                            <div class="container__user-Elements--avatar">
                                <img class="avatar-small" src="{{ user.photoUrl}}" alt="avatar">
                                <span class="onlinestatus onlinestatus--color-{{ user.onlineStatus }}"></span>
                            </div>
                            <p>{{ user.name }}</p>

                        </div>
                    </div>

                    <!-- 
                        render added User 
                    -->
                    <div class="container__user">
                        <div id="added-user"
                        class="container__user-Elements"
                        *ngFor="let user of this.firestoreService.usersAsMemberChache">
                        
                            <div *ngIf="user != this.currentUser" class="container__user-Elements--avatar">
                                <img class="avatar-small" src="{{ user.photoUrl }}" alt="avatar">
                                <span class="onlinestatus onlinestatus--color-{{ user.onlineStatus }}"></span>
                            </div>
                            
                            <p *ngIf="user != this.currentUser">{{ user.name }}</p>
                            
                            <span class="material-icons-outlined close__element"
                            (click)="removeUser(user)"
                            *ngIf="user != this.currentUser">
                             close 
                            </span>
                        </div>
                    </div>

                </div>
            </form>
        </div>

        <div class="container__btn--right">
            <button
            (click)="submitCreateChannel()"
            class="btn__log-in"
            >
                Create
            </button>
        </div>
    </div>
</div>