<div class="block__sign-up">
  <img src="../../../../assets/img/logo+text.png">

  <mat-card>
    <mat-card-content>
        <div class="block__headline-info-box">
          <div class="block__icon-arrow-back">
            <mat-icon class="icon__arrow-back" routerLink="/sign-up">arrow_back</mat-icon>
          </div>
          <span class="sign-in__headline">Wähle deinen Avatar</span>
        </div>

        <img class="img__profile-choose-avatar" src="../../../../assets/img/avatars/profile-choose-avatar.png">

        <span class="text__name">Frederik Beck</span>

        <span class="text__choose-avatar">Aus der Liste wählen</span>

        <div class="block__img-box">
          <img src="../../../../assets/img/avatars/avatar1.png">
          <img src="../../../../assets/img/avatars/avatar2.png">
          <img src="../../../../assets/img/avatars/avatar3.png">
          <img src="../../../../assets/img/avatars/avatar4.png">
          <img src="../../../../assets/img/avatars/avatar5.png">
          <img src="../../../../assets/img/avatars/avatar6.png">
        </div>

        <div class="block__upload-img">
          <span>eigenes Bild verwenden</span>
          <button class="btn__guest-log-in">Datei hochladen</button>
        </div>


        <div class="block__btn-box">
          <button
          class="btn__log-in"
          >Weiter
          </button>
        </div>


    </mat-card-content>
  </mat-card>
</div>

