@import "../sign-in/sign-in.component.scss";
@import "../sign-up/sign-up.component.scss";

:host {
  height: 100%;
  background-color: var(--color-blue-bg);
}

.block__sign-up {
  height: 100% !important;
}

mat-card {
  height: 533px !important;
  padding: 15px !important;
}

.sign-in__headline {
  width: 80% !important;
  text-align: center;
  line-height: 120%;
  font-size: 1.444rem !important;
}

.block__icon-arrow-back {
  top: 0px !important;
}

.img__profile-choose-avatar {
  margin: 24px 0 32px 0;
  width: 120px;
  height: 120px !important;
  border-radius: 100%;
}

.text__name {
  margin-bottom: 22px;
  font-size: 1.444rem;
  font-weight: 700;
}

.text__choose-avatar {
  width: 100%;
  text-align: start;
  font-weight: 400;
  font-size: 0.832rem;
  margin-bottom: 18px;
}

.block__img-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 18px;

  img {
    border-radius: 100%;
    width: 43px;
    height: 43px;

    &:hover {
      cursor: pointer;
    }
  }
}

.block__upload-img {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 18px;

  span {
    margin-right: 8px;
    font-weight: 400;
    font-size: 0.832rem;
  }
}

.block__btn-box {
  margin-top: 0 !important;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.btn__guest-log-in {
  padding: 6px 10px !important;
}

.block__error {
  font-size: 0.667rem !important;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  top: unset !important;
  left: unset !important;
  right: 0 !important;
  bottom: 0 !important;
  padding: 10px 20px;
  width: calc(100% - 40px);
  background-color: var(--color-blue-bg);
  min-height: 60px;
}
