<main>
  <app-navbar-searchbar></app-navbar-searchbar>

  <button
    mat-fab
    color="primary"
    aria-label="Example icon button with a delete icon"
  >
    <mat-icon> edit_square </mat-icon>
  </button>

  <!-- todo max-heigth dropDownMenu-->
  <!-- todo *ngfor to fill dropDownMenu -->

  	<!-- 
		expansion-panel channels
 	-->
	<div class="element__margin--bottom">
		<mat-expansion-panel
		  hideToggle
		  (opened)="panelOpenState = true"
		  (closed)="panelOpenState = false"
		>
		  <mat-expansion-panel-header>
			<mat-panel-title
			  (click)="rotateArrow('channel')"
			  class="container__element--spacebetween"
			>
	  
			  <div class="container__leftbound--attr">
				<span
				  id="channel--arrow_drop_down"
				  class="material-icons-outlined rotate"
				>
				  arrow_drop_down
				</span>
				<div>
				  <span class="material-icons-outlined"> workspaces </span>
				  <span class="panel__header--titel">Channels</span>
				</div>
			  </div>
	  
			  <span class="material-icons-outlined element--blue"> add </span>
	  
			</mat-panel-title>
		  </mat-expansion-panel-header>
	  
		  <div class="mat-expansion-panel__content">
			<div class="fix--space-left sort__elemts--row">
			  <span class="material-icons-outlined element--blue"> add_circle </span>
			  <p class="element--blue">Add Channel</p>
			</div>
		  </div>
		</mat-expansion-panel>
	</div>

	<!-- 
		expansion-panel direct message
 	-->
  <mat-expansion-panel
    hideToggle
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title (click)="rotateArrow('directMessage')">

		<div class="container__leftbound--attr">
			<span
			  id="directMessage--arrow_drop_down"
			  class="material-icons-outlined rotate"
			>
			  arrow_drop_down
			</span>
			<div class="container__element--center">
			  <span class="material-icons-outlined"> account_circle </span>
			  <span class="panel__header--titel">Direct message</span>
			</div>
		</div>

      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="mat-expansion-panel__content container__elements--column">
		
		<!-- 
			*ngFor fill drop down box with following <div>
		-->
		<div class="fix--space-left sort__elemts--row">
			<div class="user__container--avatar">
				<img class="avatar-small" src="assets/img/avatar_female-v2.png" alt="avatar">
				<span class="onlinestatus onlinestatus--color"></span>
			</div>
			<p>Test Member</p>
		</div>

		<div class="sort__elemts--row">
			<div class="user__container--avatar">
				<img class="avatar-small" src="assets/img/avatar_female-v2.png" alt="avatar">
				<span class="onlinestatus onlinestatus--color"></span>
			</div>
			<p>Test Member</p>
		</div>

		<div class="sort__elemts--row">
			<div class="user__container--avatar">
				<img class="avatar-small" src="assets/img/avatar_female-v2.png" alt="avatar">
				<span class="onlinestatus onlinestatus--color"></span>
			</div>
			<p>Test Member</p>
		</div>
		<div class="sort__elemts--row">
			<div class="user__container--avatar">
				<img class="avatar-small" src="assets/img/avatar_female-v2.png" alt="avatar">
				<span class="onlinestatus onlinestatus--color"></span>
			</div>
			<p>Test Member</p>
		</div>
		<div class="sort__elemts--row">
			<div class="user__container--avatar">
				<img class="avatar-small" src="assets/img/avatar_female-v2.png" alt="avatar">
				<span class="onlinestatus onlinestatus--color"></span>
			</div>
			<p>Test Member</p>
		</div>
		<div class="sort__elemts--row">
			<div class="user__container--avatar">
				<img class="avatar-small" src="assets/img/avatar_female-v2.png" alt="avatar">
				<span class="onlinestatus onlinestatus--color"></span>
			</div>
			<p>Test Member</p>
		</div>
		<div class="sort__elemts--row">
			<div class="user__container--avatar">
				<img class="avatar-small" src="assets/img/avatar_female-v2.png" alt="avatar">
				<span class="onlinestatus onlinestatus--color"></span>
			</div>
			<p>Test Member</p>
		</div>

    </div>
  </mat-expansion-panel>
</main>
