// parent element <app-navbar-left>
main{
  padding: 2rem 1rem 0 1rem;
  height: calc(100% - 2rem - 80px);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
button{
  position: absolute;
  right: 1rem;
  bottom: 2rem;
  z-index: 5;
}
.mat-expansion-panel:not([class*=mat-elevation-z]){
  box-shadow: unset;
}
.mat-expansion-panel__content{
  margin-left: 24px;
	display: flex;
	gap: 1rem;
}
.rotate{
  transform: rotate(-90deg);
}
