main{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mat-expansion-panel:not([class*=mat-elevation-z]){
  box-shadow: unset;
}
.rotate{
  transform: rotate(-90deg);
}
.mat-expansion-panel__content{
	margin-left: 24px;
	display: flex;
	gap: 1rem;
}
