<app-header-mobile [parent]="'chat'"></app-header-mobile>

<app-chat-sub-header
  *ngIf="mainType"
  [type]="mainType"
  [channel]="currentChannel"
  [privateChatOpponentUser]="privateChatOpponentUser"
  [privateChatAvatarConfig]="{
    user: this.privateChatOpponentUser,
    showStatus: true,
    size: 'small',
  }"
></app-chat-sub-header>

<main #chatContainer [scrollTop]="chatContainer.scrollHeight">
  <app-chat-record
    (startThread)="startThread($event)"
    (chatRecordLength)="setChatRecordLength($event)"
    [chatRecordId]="chatRecordId"
    [currentUser]="currentUser"
  ></app-chat-record>
  <div *ngIf="chatRecordLength === 0">
    <div class="placeholder__title-wrapper">
      <app-avatar-display
        *ngIf="privateChatOpponentUser"
        [data]=" {
          user: this.privateChatOpponentUser,
          showStatus: false,
          size: 'medium',
        }"
      ></app-avatar-display>
      <span>{{ privateChatOpponentUser.name }}</span>
    </div>
    <p>
      Diese Unterhaltung findet nur zwischen
      <span>@{{ privateChatOpponentUser.name }}</span> und dir statt.
    </p>
  </div>
</main>

<app-message-input
  *ngIf="currentChannel"
  [currentChatRecordId]="currentChannel.chatRecord"
></app-message-input>
