@import 'src/app/style/_chat.scss';

.placeholder__container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 16px;
}

.placeholder__title-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.placeholder__title--name {
    font-weight: 700;
    font-size: 24px;
}

.placeholder__description {
    font-size: 20px;
    color: var(--color-grey-primary-disable);
}

.placeholder__description--highlight {
    color: var(--color-blue-secondary-hover);
    white-space: nowrap;
}

app-avatar-display {
    margin-bottom: -20px;
}