<main>
    <app-header-mobile></app-header-mobile>

    <div class="content">
        
        <app-navbar
        [class.navbar__desktop]="!mobileView">
        </app-navbar>

        <div class="navbar__manager">
            <div class="navbar__manager--img">
            </div>
            <p>close Workspace-Navigation</p>
        </div>

        <div 
        [class.posts__desktop]="!mobileView">
            <router-outlet 
            *ngIf="!mobileView"
            ></router-outlet>
        </div>

    </div>

    
</main>

<app-dialog-profil-menu *ngIf="showDialogProfilMenu"></app-dialog-profil-menu>
<app-dialog-add-channel *ngIf="showDialogAddChannel"></app-dialog-add-channel>
<app-dialog-new-chat *ngIf="showDialogNewChat"></app-dialog-new-chat>