<main>
    <app-header-mobile></app-header-mobile>

    <div class="content">
        
        <app-navbar
        [class.navbar__desktop]="!(responsiveService.mobileView$ | async)">
        </app-navbar>

        <div 
        class="navbar__manager"
        *ngIf="!(responsiveService.mobileView$ | async)">
            <div class="navbar__manager--img">
            </div>
            <p>close Workspace-Navigation</p>
        </div>

        <div 
        [class.posts__desktop]="!(responsiveService.mobileView$! | async)">
            <router-outlet 
            *ngIf="!(responsiveService.mobileView$! | async)"
            ></router-outlet>
        </div>

    </div>

    
</main>

<app-dialog-profil-menu *ngIf="dialogService.showDialogProfilMenu$ | async"></app-dialog-profil-menu>
<app-dialog-add-channel *ngIf="dialogService.showDialogAddChannel$ | async"></app-dialog-add-channel>
<app-dialog-new-chat *ngIf="dialogService.showDialogNewChat$ | async"></app-dialog-new-chat>