main{
    height: 100dvh;
    width: 100%;
    background-color: var(--color-blue-bg);
    position: relative;
    overflow: hidden;
}

app-create-channel{
    background-color: var(--color-white);
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    overflow-y: hidden;
  }

.main__content{
    display: flex;
}

.navbar__desktop{
    margin: 1rem;
    min-width: 380px;
    width: 400px;
    height: calc(100dvh - 80px - 2rem);
    border-radius: 30px;
    position: unset;
}