<main>
    <app-header-mobile 
    *ngIf="!(responsiveService.mobileView$ | async) ||
    (responsiveService.mobileView$ | async) && !responsiveService.togglePosts"
    ></app-header-mobile>

    <div class="content">
        
        <app-navbar
        [class.navbar__desktop]="!(responsiveService.mobileView$ | async)"
        [class.navbar__desktop--toggle]="!(dialogService.showNavbar$ | async) && !(responsiveService.mobileView$ | async)"
        [class.navbar__mobile--toggle]="(responsiveService.mobileView$ | async) && responsiveService.togglePosts"
        ></app-navbar>

        <div 
        class="navbar__manager"
        (click)="toggleNavbar()"
        *ngIf="!(responsiveService.mobileView$ | async)"
        >
            <div *ngIf="!(dialogService.showNavbar$ | async)" class="navbar__manager--img-open"></div>
            <p *ngIf="!(dialogService.showNavbar$ | async)">öffne Menüleiste</p>
            
            <div *ngIf="dialogService.showNavbar$ | async" class="navbar__manager--img-close"></div>
            <p *ngIf="dialogService.showNavbar$ | async">schließe Menüleiste</p>
        </div>
 
        <div 
        [class.posts__desktop]="!(responsiveService.mobileView$! | async)"
        >
            <router-outlet 
            *ngIf="!(responsiveService.mobileView$! | async) || (responsiveService.mobileView$! | async) && responsiveService.togglePosts"
            ></router-outlet>
        </div>

    </div>

    
</main>

<app-dialog-profil-menu *ngIf="dialogService.showDialogProfilMenu$ | async"></app-dialog-profil-menu>
<app-dialog-add-channel *ngIf="dialogService.showDialogAddChannel$ | async"></app-dialog-add-channel>
<app-dialog-new-chat *ngIf="dialogService.showDialogNewChat$ | async"></app-dialog-new-chat>