:host {
  height: 100%;
  display: block;
  background: var(--color-blue-bg)
}

//intro animation

.block__intro {
  background: linear-gradient(1deg, #313ae5 1.22%, #797ef3 98.76%);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 100;

  img {
    z-index: 3;
  }
}

.block__intro-div {
  display: flex;
  justify-content: center;
}

.img-after-intro {
  z-index: 10;
  position: absolute;
  top: 20px;
}

.block__intro--change-bg {
  background: var(--color-blue-bg) !important;
}

.block__headline {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  z-index: 10;
}

.width-unset {
  width: unset !important;
}

.img--move-left {
  animation: LogoMoveLeft 500ms ease-in-out forwards;
  z-index: 2;
}

@keyframes LogoMoveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-80px);
  }
}

.hide-box {
  height: 72px;
  width: 230px;
  position: absolute;
  left: -102px;
  z-index: 2;
  background-color: #555CEC;
}

.hide-box--move-left {
  animation: HideBoxMoveLeft 500ms ease-in-out forwards;
  z-index: 2;
}

@keyframes HideBoxMoveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-136px);
  }
}

.headline {
  color: var(--color-white);
  font-size: 1.8rem;
  display: none;
  position: absolute;
  right: 100px;
  z-index: 1;
}

.headline--move-right {
  display: flex !important;
  animation: HeadlineMoveRight 500ms ease-in-out forwards;
}

@keyframes HeadlineMoveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(180px);
  }
}

.block__headline--move-top {
  animation: BlockHeadlineMoveTop 500ms ease-in-out forwards;
}

@keyframes BlockHeadlineMoveTop {
  0% {
    transform: translateY(0);
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    transform: translateY(-280px);
    opacity: unset;
  }
}

.hide-box--d-none {
  display: none !important;
}

.headline--become-black {
  color: var(--color-black) !important;
}

.headline--d-flex {
  display: flex !important;
  position: unset !important;
  margin-left: 16px;
}