<main id="menu" class="slide--up">
    <div (click)="toggleMenu()" class="orientation">
        <div>
            <span></span>
        </div>
    </div>

    <button (click)="openDialogProfil()">
        <span class="material-icons-outlined"> account_circle </span>
        <span class="button__txt"> Profil </span>
    </button>

    <button>
        <span class="material-icons-outlined"> logout </span>
        <span class="button__txt"> Log out </span>
    </button>
</main>


<!-- todo Logout routerLink -->
<!-- todo manage menu slide down -->