@import '../../../style/variable.scss';

.mobile__menu {
  width: calc(100dvw - 52px);
  max-height: 300px;
  padding: 30px 26px 30px 26px;
  background-color: var(--color-white);
  position: absolute;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 5;
  filter: drop-shadow(0px -5px 3px var(--color-black-shadow));
}

.close__element{
  cursor: pointer;
}

input[type=text] {
  @include input_text;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
menu-profil
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.orientation {
  height: 25px;
  display: flex;
  justify-content: center;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      width: 62px;
      display: flex;
      border-radius: 23px;
      border: 3px solid var(--color-grey-bar);
      cursor: pointer;
    }
  }
}

.btn__select {
  padding: 10px 45px 10px 1rem;
  background-color: unset;
  border: unset;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 1rem;
  &:hover {
    cursor: pointer;
  }
  &:active,
  &:focus {
    color: var(--color-blue-secondary-hover);
    background-color: var(--color-blue-bg);
    border-radius: 100px;
  }
  .material-icons-outlined {
    font-size: 30px;
  }
  .button__txt {
    font-size: 1.1rem;
    font-weight: 600;
  }
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
animation
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.slide--up {
    bottom: 0;
    animation: 0.5s slide-up;
  }
  .slide--down {
    bottom: 0;
    transform: translateY(300px);
    animation: 0.5s slide-down;
  }
  
  @keyframes slide-up {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes slide-down {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(300px);
    }
  }