<div 
class="overlay"
(click)="closeDialogMenu()"
*ngIf="dialogService.showDialogProfilMenu$ | async"
></div>


<div 
[class.dialog__desktop]="(dialogService.showDialogProfilMenu$ | async) && !(responsiveService.mobileView$ | async)" 
[class.dialog__mobile]="responsiveService.mobileView$ | async" 
[class.slide--up]="!showCloseAnimation && (dialogService.showDialogProfilMenu$ | async) && (responsiveService.mobileView$ | async)"
[class.slide--down]="showCloseAnimation && (responsiveService.mobileView$ | async)"
>

    <div 
    *ngIf="responsiveService.mobileView$ | async" 
    (click)="closeDialogMenu()" 
    class="orientation">
        <div>
            <span></span>
        </div>
    </div>

    <button (click)="openDialogProfil()" class="btn__select">
        <span class="material-icons-outlined"> account_circle </span>
        <span class="button__txt"> Profil </span>
    </button>

    <button (click)="logout()" class="btn__select">
        <span class="material-icons-outlined"> logout </span>
        <span class="button__txt"> Log out </span>
    </button>
</div>