<div 
class="overlay"
(click)="closeDialogMenu()"
*ngIf="showDialogProfilMenu"
></div>


<div 
[class.dialog__desktop]="showDialogProfilMenu && !mobileView" 
[class.dialog__mobile]="mobileView" 
[class.slide--up]="!showCloseAnimation && showDialogProfilMenu && mobileView"
[class.slide--down]="showCloseAnimation && mobileView"
>

    <div 
    *ngIf="mobileView" 
    (click)="closeDialogMenu()" 
    class="orientation">
        <div>
            <span></span>
        </div>
    </div>

    <button (click)="openDialogProfil()" class="btn__select">
        <span class="material-icons-outlined"> account_circle </span>
        <span class="button__txt"> Profil </span>
    </button>

    <button (click)="logout()" class="btn__select">
        <span class="material-icons-outlined"> logout </span>
        <span class="button__txt"> Log out </span>
    </button>
</div>