<div 
class="overlay"
(click)="closeDialogMenu()"
></div>

<!-- [class.dialog__mobile]="mobileView"
[class.dialog__desktop]="!mobileView"
[class.hide]="!mobileView" -->
<div 
[class.dialog__desktop]="showDialogProfilMenu && !mobileView" 
[class.dialog__mobile]="showDialogProfilMenu && mobileView" 
[class.slide--up]="showDialogProfilMenu && mobileView"
[class.slide--down]="showCloseAnimation && mobileView"
>

    <div 
    *ngIf="mobileView" 
    (click)="closeDialogMenu()" 
    class="orientation">
        <div>
            <span></span>
        </div>
    </div>

    <button (click)="openDialogProfil()" class="btn__select">
        <span class="material-icons-outlined"> account_circle </span>
        <span class="button__txt"> Profil </span>
    </button>

    <button (click)="logout()" class="btn__select">
        <span class="material-icons-outlined"> logout </span>
        <span class="button__txt"> Log out </span>
    </button>
</div>