@import 'src/app/style/_chat.scss';

.thread__separator-container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 16px 0 16px;

    span {
        color: var(--color-blue-border);
        white-space: nowrap;
    }
}

.thread__separator-line {
    height: 1px;
    width: 100%;
    background-color: var(--color-blue-border);
}