<main>

  <app-navbar-searchbar 
  *ngIf="responsiveService.mobileView$ | async" 
  ></app-navbar-searchbar>

  <div
  class="navbar__header"
  *ngIf="!(responsiveService.mobileView$ | async)" >
    <div class="navbar__header--left">
      <img src="assets/img/workspace.png" alt="Logo of the current workspace" />
      <span>Code learning</span>
    </div>
    <div class="navbar__header--right">
      <mat-icon>edit_square</mat-icon>
    </div>
  </div>

  <button
  *ngIf="responsiveService.mobileView$ | async"
  [routerLink]="'/home/' + 'newChat'"
  mat-fab
  color="primary"
  aria-label="Example icon button with a delete icon"
  >
    <mat-icon> edit_square </mat-icon>
  </button>

  <div class="panels">
    <app-navbar-panel-channels></app-navbar-panel-channels>
    <app-navbar-panel-chat></app-navbar-panel-chat>
  </div>
</main>