main{
  background-color: var(--color-white);
    padding: 2rem 1rem 2rem 1rem;
    height: calc(100dvh - 80px - 4rem);
    position: relative;
    display: flex;
    flex-direction: column;
  }
  button{
    position: absolute;
    right: 1rem;
    bottom: 2rem;
    z-index: 5;
  }
  .panels{
    height: 85%;
    overflow-y: auto;
  }

app-menu-profil-mobile{
  overflow-y: hidden;
}

.mobile{
  margin-bottom: 1rem;
}

.navbar__header{
  padding: 0 1rem 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  &--left{
    display: flex;
    align-items: center;
    gap: 1rem;
    span{
      cursor: default;
      font-weight: 700;
      font-size: 1.3rem
    }
  }
  &--right{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;

    mat-icon{
      cursor: pointer;
    }
  }
  &--right:hover{
    
    background-color: var(--color-blue-bg);
    border-radius: 50%;
  }

}