<main>

  <app-navbar-searchbar 
  *ngIf="mobileView" 
  [class.mobile]="mobileView">
  </app-navbar-searchbar>

  <div
  class="navbar__header"
  *ngIf="!mobileView" >
    <div>
      <img src="assets/img/workspace.png" alt="Logo of the current workspace" />
      <span>Code learning</span>
    </div>
    <mat-icon>edit_square</mat-icon>
  </div>

  <button
  *ngIf="mobileView"
  [routerLink]="'/home/' + 'newChat'"
  mat-fab
  color="primary"
  aria-label="Example icon button with a delete icon"
  >
    <mat-icon> edit_square </mat-icon>
  </button>

  <div class="panels">
    <app-navbar-panel-channels></app-navbar-panel-channels>
    <app-navbar-panel-chat></app-navbar-panel-chat>
  </div>
</main>