<app-header-mobile 
*ngIf="!(rs.isDesktop$ | async)"
[parent]="'navbar'"
></app-header-mobile>

<main
[class.view__desktop-main]="rs.isDesktop$ | async"
>
  <app-navbar-searchbar
  *ngIf="!(rs.isDesktop$ | async)"
  ></app-navbar-searchbar>

  <button
    *ngIf="!(rs.isDesktop$ | async)"
    [routerLink]="'/home/' + 'newChat'"
    mat-fab
    color="primary"
    aria-label="Example icon button with a delete icon"
  >
    <mat-icon> edit_square </mat-icon>
  </button>

  <article>
    <app-navbar-panel-channels></app-navbar-panel-channels>
    <app-navbar-panel-message></app-navbar-panel-message>
  </article>
</main>

<app-dialog-overlay *ngIf="showMenu"></app-dialog-overlay>
<app-dialog-profil-menu></app-dialog-profil-menu>
<app-dialog-new-chat></app-dialog-new-chat>
