<div class="sub-header">
  <div class="sub-header__title">
    # PlaceholderName <mat-icon>expand_more</mat-icon>
  </div>

  <div class="sub-header__avatar-container">
    <div class="sub-header__avatar-wrapper">
      <img src="../../../../assets/img/avatars/avatar_male_one.svg" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
      <span>5</span>
    </div>

    <button mat-icon-button aria-label="Icon button with a person add icon">
      <mat-icon fontSet="material-icons-outlined">person_add_outlined</mat-icon>
    </button>
  </div>
</div>
