<div class="sub-header">
  <div class="sub-header__title">
    # PlaceholderName <mat-icon>expand_more</mat-icon>
  </div>

  <div class="sub-header__avatar-container">
    <div class="sub-header__avatar-wrapper">
      <img src="../../../../assets/img/avatars/avatar_male_one.svg" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
      <span>5</span>
    </div>

    <button mat-icon-button aria-label="Icon button with a person add icon">
      <mat-icon fontSet="material-icons-outlined">person_add</mat-icon>
    </button>
  </div>
</div>

<main>
  <div
    *ngFor="let message of chatRecord"
    class="message__wrapper"
    [ngClass]="{ message__menu: message === selectedMsg }"
  >
    <div class="message" (click)="toggleMsgMenu(message)">
      <div class="message__avatar-container">
        <img src="../../../../assets/img/avatars/avatar_male_one.svg" alt="" />
      </div>

      <div class="message__content-container">
        <div class="message__header">
          <span class="message__header-name">{{ message.sentByName }}</span>
          <span class="message__header-time"
            >{{ message.sentAt.toDate() | date : "shortTime" }} Uhr</span
          >
        </div>

        <p class="message__content">
          {{ message.message }}
        </p>

        <div *ngIf="message.thread.id" class="message__footer">
          <span
            (click)="openThread(message, $event)"
            class="message__footer-count"
            >{{ message.thread.length }} Antworten</span
          >
          <div class="message__footer-last-timestamp">
            <span>Letzte Antwort</span>
            <span>
              {{
                message.thread.lastAnswer.toDate() | date : "EEEE hh:mm"
              }}
              Uhr</span
            >
          </div>
        </div>
      </div>
    </div>

    <div class="message__input">
      <textarea type="text" placeholder="Nachricht an #Placeholder"></textarea>

      <div class="message-input__btn-container">
        <div class="btn-container__extra-btn-wrapper">
          <button
            mat-icon-button
            aria-label="Icon button to add data files to the message"
          >
            <mat-icon fontSet="material-icons-outlined">add</mat-icon>
          </button>

          <mat-divider [vertical]="true"></mat-divider>

          <button mat-icon-button aria-label="Icon button to select emotes">
            <mat-icon fontSet="material-icons-outlined"
              >sentiment_satisfied</mat-icon
            >
          </button>
          <button mat-icon-button aria-label="Icon button to link another user">
            <mat-icon fontSet="material-icons-outlined"
              >alternate_email</mat-icon
            >
          </button>
        </div>

        <div>
          <button mat-icon-button aria-label="Icon button to send the message">
            <mat-icon fontSet="material-icons-outlined">send</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
