.dialog__headline-container {
    display: flex;
    justify-content: space-between;
}

.dialog__headline {
    margin: 20px 0 0 16px;
    font-size: 1.333rem;
}

.dialog__headline-close {
    margin: 20px 16px 0 0;
}

.dialog__container {
    display: flex;
    flex-direction: column;
    gap: 21px;

    padding: 36px;
}

.dialog__member-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;

    button {
        background-color: var(--color-blue-bg);
    }

    p {
        margin: 0;
    }
}