<section class="chat__container" *ngIf="chatRecord">
  <div
    *ngFor="let message of chatRecord; index as i"
    class="message__wrapper"
    [ngClass]="{}"
  >
    <!-- ========== Date Pill ========== -->
    <div
      *ngIf="
        message.sentAt &&
        (isFirstMsgOfDay(message, i) || i == 0) &&
        parentType !== 'thread'
      "
      [style.margin-top]="message == chatRecord[0] ? '45px' : '0'"
      class="chat__date-pill"
    >
      <div class="date-pill__line"></div>
      <div
        *ngIf="
          (message.sentAt.toDate() | date : 'EEEE d MMMM') ==
            (today | date : 'EEEE d MMMM');
          then isToday;
          else notToday
        "
      ></div>
      <ng-template #isToday>
        <span class="date-pill__content">Today</span></ng-template
      >
      <ng-template #notToday>
        <span class="date-pill__content">
          {{ message.sentAt.toDate() | date : "EEEE, d MMMM" }}
        </span>
      </ng-template>
      <div class="date-pill__line"></div>
    </div>

    <!-- ========== Message itself ========== -->
    <div
      class="message"
      [ngClass]="{
        message__self: message.sentById === currentUser.id,
        message__menuOpened: message === selectedMsg
      }"
      (click)="toggleMsgMenu(message)"
    >
      <div class="message__avatar-container">
        <img src="{{ message.sentByPhotoUrl }}" alt="" />
      </div>

      <div class="message__content-container">
        <div class="message__header">
          <span class="message__header-name">{{ message.sentByName }}</span>
          <span *ngIf="message.sentAt" class="message__header-time"
            >{{ message.sentAt.toDate() | date : "shortTime" }} Uhr</span
          >
        </div>

        <div class="message__content-wrapper">
          <div
            *ngIf="
              message.file.url && message.file.type !== 'application/pdf';
              then isPicture;
              else isPDF
            "
          ></div>
          <ng-template #isPicture>
            <img
              (click)="loadFile(message.file.url)"
              [src]="message.file.url"
              alt="Picture send from a user"
            />
          </ng-template>
          <ng-template #isPDF>
            <div class="message__file-wrapper-pdf" *ngIf="message.file.type">
              <img
                (click)="loadFile(message.file.url)"
                src="assets/img/pdf.png"
                alt="Logo of PDF"
              />
              <span>{{ message.file.name }}</span>
            </div>
          </ng-template>
          <p>
            {{ message.message }}
          </p>
        </div>

        <div *ngIf="message.thread.length > 0" class="message__footer">
          <span
            (click)="openThread(message, $event)"
            class="message__footer-count"
            >{{ message.thread.length }} Antworten</span
          >
          <div class="message__footer-last-timestamp">
            <span>Letzte Antwort</span>
            <span>
              {{ message.thread.lastAnswer.toDate() | date : "shortTime" }}
              Uhr</span
            >
          </div>
        </div>
      </div>

      <!-- ========== Onclick/ onhover Menu ========== -->
      <div *ngIf="selectedMsg === message" class="message__menu">
        <button mat-icon-button aria-label="Icon button with a emoji add icon">
          <mat-icon fontSet="material-icons-outlined">add_reaction</mat-icon>
        </button>
        <button
          *ngIf="message.thread.length <= 0 && parentType !== 'thread'"
          (click)="this.startThread.emit(message)"
          mat-icon-button
          aria-label="Icon button with a chat bubble"
        >
          <mat-icon fontSet="material-icons-outlined">comment</mat-icon>
        </button>
        <button
          *ngIf="message.sentById === currentUser.id"
          mat-icon-button
          (click)="openEditMsgMenu($event)"
          aria-label="Icon button with vertical dots icon"
        >
          <mat-icon fontSet="material-icons-outlined">more_vert</mat-icon>
        </button>
        <div *ngIf="showEditMsgMenu" class="message__menu--edit-msg">
          <button mat-button>Nachricht bearbeiten</button>
        </div>
      </div>
    </div>
  </div>
</section>
