<div class="message__input">
  <!-- Msg Input -->
  <textarea
    [(ngModel)]="msgPayload"
    type="text"
    placeholder="{{ placeholderText }}"
  >
  </textarea>

  <!-- File Preview -->
  <div class="file-upload__container">
    <div
      [ngClass]="fileToUpload ? 'd-block' : 'd-none'"
      class="file-upload__wrapper"
    >
      <button
        (click)="cancelUpload()"
        mat-mini-fab
        color="warn"
        class="file-upload__cancel-btn"
      >
        <mat-icon>close</mat-icon>
      </button>
      <img
        src=""
        id="filePreview"
        [ngClass]="fileToUpload ? 'file-upload__thumbnail' : ''"
        alt=""
      />
    </div>
    <span id="fileName" class="file-upload__file-name"></span>
  </div>

  <!-- Button row menu -->
  <div class="message-input__btn-container">
    <div class="btn-container__extra-btn-wrapper">
      <button
        (click)="openFileUpload()"
        mat-icon-button
        aria-label="Icon button to add data files to the message"
      >
        <input
          type="file"
          name=""
          accept="image/*,.pdf"
          id="fileUpload"
          (change)="onFileChange($event)"
        />
        <mat-icon fontSet="material-icons-outlined">add</mat-icon>
      </button>

      <mat-divider [vertical]="true"></mat-divider>

      <button mat-icon-button aria-label="Icon button to select emotes">
        <mat-icon fontSet="material-icons-outlined"
          >sentiment_satisfied</mat-icon
        >
      </button>
      <button mat-icon-button aria-label="Icon button to link another user">
        <mat-icon fontSet="material-icons-outlined">alternate_email</mat-icon>
      </button>
    </div>

    <div>
      <button
        (click)="sendMessage()"
        mat-icon-button
        aria-label="Icon button to send the message"
      >
        <mat-icon class="message-input__send-btn" fontSet="material-icons">send</mat-icon>
      </button>
    </div>
  </div>
</div>
