<mat-expansion-panel
    hideToggle
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title (click)="rotateArrow('directMessage')">

		<div class="panel__titel--left">
			<span
			  id="directMessage--arrow_drop_down"
			  class="material-icons-outlined rotate"
			>
			  arrow_drop_down
			</span>
			<div class="container__element--center">
			  <span class="material-icons-outlined"> account_circle </span>
			  <span class="panel__header--titel">Direct message</span>
			</div>
		</div>

      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="mat-expansion-panel__content container__elements--column">
		
		<!-- 
			*ngFor fill drop down box with following <div>
		-->
		<div class="fix--space-left sort__elemts--row">
			<div class="user__container--avatar">
				<img class="avatar-small" src="assets/img/avatar_female-v2.png" alt="avatar">
				<span class="onlinestatus onlinestatus--color"></span>
			</div>
			<p>Test User</p>
		</div>


		<div class="fix--space-left sort__elemts--row">
			<div class="user__container--avatar">
				<img class="avatar-small" src="assets/img/avatar_female-v2.png" alt="avatar">
				<span class="onlinestatus onlinestatus--color"></span>
			</div>
			<p>Test User</p>
		</div>
		<div class="fix--space-left sort__elemts--row">
			<div class="user__container--avatar">
				<img class="avatar-small" src="assets/img/avatar_female-v2.png" alt="avatar">
				<span class="onlinestatus onlinestatus--color"></span>
			</div>
			<p>Test User</p>
		</div>
		<div class="fix--space-left sort__elemts--row">
			<div class="user__container--avatar">
				<img class="avatar-small" src="assets/img/avatar_female-v2.png" alt="avatar">
				<span class="onlinestatus onlinestatus--color"></span>
			</div>
			<p>Test User</p>
		</div>
		<div class="fix--space-left sort__elemts--row">
			<div class="user__container--avatar">
				<img class="avatar-small" src="assets/img/avatar_female-v2.png" alt="avatar">
				<span class="onlinestatus onlinestatus--color"></span>
			</div>
			<p>Test User</p>
		</div>
		<div class="fix--space-left sort__elemts--row">
			<div class="user__container--avatar">
				<img class="avatar-small" src="assets/img/avatar_female-v2.png" alt="avatar">
				<span class="onlinestatus onlinestatus--color"></span>
			</div>
			<p>Test User</p>
		</div>
		<div class="fix--space-left sort__elemts--row">
			<div class="user__container--avatar">
				<img class="avatar-small" src="assets/img/avatar_female-v2.png" alt="avatar">
				<span class="onlinestatus onlinestatus--color"></span>
			</div>
			<p>Test User</p>
		</div>
		<div class="fix--space-left sort__elemts--row">
			<div class="user__container--avatar">
				<img class="avatar-small" src="assets/img/avatar_female-v2.png" alt="avatar">
				<span class="onlinestatus onlinestatus--color"></span>
			</div>
			<p>Test User</p>
		</div>
		<div class="fix--space-left sort__elemts--row">
			<div class="user__container--avatar">
				<img class="avatar-small" src="assets/img/avatar_female-v2.png" alt="avatar">
				<span class="onlinestatus onlinestatus--color"></span>
			</div>
			<p>Test User</p>
		</div>
		<div class="fix--space-left sort__elemts--row">
			<div class="user__container--avatar">
				<img class="avatar-small" src="assets/img/avatar_female-v2.png" alt="avatar">
				<span class="onlinestatus onlinestatus--color"></span>
			</div>
			<p>Test User</p>
		</div>
		<div class="fix--space-left sort__elemts--row">
			<div class="user__container--avatar">
				<img class="avatar-small" src="assets/img/avatar_female-v2.png" alt="avatar">
				<span class="onlinestatus onlinestatus--color"></span>
			</div>
			<p>Test User</p>
		</div>
		<div class="fix--space-left sort__elemts--row">
			<div class="user__container--avatar">
				<img class="avatar-small" src="assets/img/avatar_female-v2.png" alt="avatar">
				<span class="onlinestatus onlinestatus--color"></span>
			</div>
			<p>Test User</p>
		</div>
		<div class="fix--space-left sort__elemts--row">
			<div class="user__container--avatar">
				<img class="avatar-small" src="assets/img/avatar_female-v2.png" alt="avatar">
				<span class="onlinestatus onlinestatus--color"></span>
			</div>
			<p>Test User</p>
		</div>
		<div class="fix--space-left sort__elemts--row">
			<div class="user__container--avatar">
				<img class="avatar-small" src="assets/img/avatar_female-v2.png" alt="avatar">
				<span class="onlinestatus onlinestatus--color"></span>
			</div>
			<p>Test User</p>
		</div>

		

    </div>
  </mat-expansion-panel>
