<mat-card>
  <mat-card-content>
    <span class="sign-in__headline">Anmeldung</span>
    <span class="sign-in__info-text">Wir empfehlen dir, die E-Mail Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
    <div class="block__input">
      <mat-icon class="material-icons-outlined mail-icon">mail</mat-icon>
      <input placeholder="beispielname@email.com">
    </div>
    <div class="block__input">
      <mat-icon class="material-icons-outlined mail-icon">lock</mat-icon>
      <input placeholder="Passwort">
    </div>
    <span class="sign-in__forgot-password">Passwort vergessen?</span>
    <div class="block__btn-box">
      <button class="btn__log-in">Anmelden</button>
      <button class="btn__guest-log-in">Gäste-Login</button>
    </div>
  </mat-card-content>
</mat-card>

<div class="block__create-account">
  <span>Neu bei DABubble?</span>
  <button>Konto erstellen</button>
</div>
