<main>

    <header>
        <h2> 
            <span> Edit your Profil </span>  
            <span (click)="onNoClick()" class="material-icons-outlined close__element"> close </span>
        </h2>
    </header>
    
    <div class="dialog__img">
        <!-- <img class="dialog__img--style" src="assets/img/avatar_female-v1.png" alt="profil-avatar"> -->
        <img class="dialog__img--style" src="{{ currentUser.photoUrl }}" alt="profil-avatar">
    </div>
    
    <form action="">

        <div class="dialog__content">

            <div class="dialog__content--name">
                <div class="dialog__content--name-headline">
                    <span class="material-icons-outlined"> account_circle </span>
                    <span class="dialog__content--name-headline-txt"> Full name </span>
                </div>

                <input formControlName="nameForm" #userName type="text" placeholder="{{ currentUser.name }}">
            </div>
        
        
            <div class="dialog__content--email">
                <div class="dialog__content--email-headline">
                    <span class="material-icons-outlined"> email </span>
                    <span class="dialog__content--email-headline-txt"> E-Mail-Address </span>
                </div>

                <input formControlName="emailForm" #userEmail type="email" placeholder="{{ currentUser.email }}">
            </div>

            <div class="dialog__btn">
                <button
                    (click)="onNoClick()" 
                    class="dialog__btn--cancel"> 
                    Cancel 
                </button>
                <button 
                    class="dialog__btn--save"
                    (click)="updateCurrentUserData(userName.value, userEmail.value)"> 
                    Save 
                </button>
            </div>
        </div>
    </form>
</main>
