<main>

    <header>
        <h2> 
            <span> Edit your Profil </span>  
            <span (click)="onNoClick()" class="material-icons-outlined"> close </span>
        </h2>
    </header>
    
    <div class="dialog__img">
        <img class="dialog__img--style" src="assets/img/avatar_female-v1.png" alt="profil-avatar">
    </div>
    
    <form action="">

        <div class="dialog__content">

            <div class="dialog__content--name">
                <div class="dialog__content--name-headline">
                    <span class="material-icons-outlined"> account_circle </span>
                    <span class="dialog__content--name-headline-txt"> Full name </span>
                </div>

                <input type="text" placeholder="user.name">
            </div>
        
        
            <div class="dialog__content--email">
                <div class="dialog__content--email-headline">
                    <span class="material-icons-outlined"> email </span>
                    <span class="dialog__content--email-headline-txt"> E-Mail-Address </span>
                </div>

                <input type="email" placeholder="user.email">
            </div>

            <div class="dialog__btn">
                <button class="dialog__btn--cancel"> Cancel </button>
                <button class="dialog__btn--save"> Save </button>
            </div>
        </div>
    </form>
</main>
