// @import 'style/variable.scss';

.wrapper{
    background-color: var(--color-blue-bg);
    overflow-y: hidden;
}

.view__desktop{
    display: flex;
}

@media(min-width:2560px) {
    .wrapper {
      width: 2560px;
    }
  }