<div *ngIf="showMenu" (click)="closeMenu()" class="overlay"></div>

<div id="menu" class="mobile__menu">
    <div (click)="closeMenu()" class="orientation">
        <div>
            <span></span>
        </div>
    </div>

    <button (click)="openDialogProfil()">
        <span class="material-icons-outlined"> account_circle </span>
        <span class="button__txt"> Profil </span>
    </button>

    <button (click)="logout()">
        <span class="material-icons-outlined"> logout </span>
        <span class="button__txt"> Log out </span>
    </button>
</div>

<div id="menuNewChat" class="mobile__menu">
    <div (click)="closeMenu()" class="orientation">
        <div>
            <span></span>
        </div>
    </div>

    <form class="example-form">
        <input type="text" placeholder="Enter name">

        <button
        class="btn__log-in"
        >
            Add
        </button>
    </form>

</div>