<div *ngIf="showMenu" (click)="closeMenu()" class="overlay"></div>


<div id="menu" class="mobile__menu">
    <div (click)="closeMenu()" class="orientation">
        <div>
            <span></span>
        </div>
    </div>

    <button (click)="openDialogProfil()" class="btn__select">
        <span class="material-icons-outlined"> account_circle </span>
        <span class="button__txt"> Profil </span>
    </button>

    <button (click)="logout()" class="btn__select">
        <span class="material-icons-outlined"> logout </span>
        <span class="button__txt"> Log out </span>
    </button>
</div>


<div id="menuNewChat" class="mobile__menu">
    <div (click)="closeMenu()" class="orientation">
        <div>
            <span></span>
        </div>
    </div>

    <div class="container__header">
        <span>Add User</span>
        <span (click)="closeMenu()" class="material-icons-outlined close__element"> close </span>
    </div>

    <form class="search-user-form">
        <input type="text" placeholder="Search user">

        <button
        class="btn__log-in"
        >
            Add
        </button>
    </form>
</div>


<div id="menuCreateChannel" class="mobile__menu">
    <div (click)="closeMenu()" class="orientation">
        <div>
            <span></span>
        </div>
    </div>

    <div class="container__header">
        <span>Add User</span>
        <span (click)="closeMenu()" class="material-icons-outlined close__element"> close </span>
    </div>

    <form class="radio-form">

        <div class="container__elements">
            <input id="allUser" type="radio">
            <label for="allUser">Add all members of 
                <span>OfficeTeam</span>
            </label>
        </div>

        <div class="container__elements">
            <input id="selectUser" type="radio">
            <label for="selectUser">Add certain people</label>
        </div>

        <button
        class="btn__log-in"
        >
            Create
        </button>
    </form>
</div>