<!-- <app-dialog-overlay ></app-dialog-overlay> -->
<!-- <div *ngIf="showMenu" (click)="closeMenu()" class="overlay"></div> -->


<!-- <div id="menu" class="mobile__menu">
    <div (click)="closeMenu()" class="orientation">
        <div>
            <span></span>
        </div>
    </div>

    <button (click)="openDialogProfil()" class="btn__select">
        <span class="material-icons-outlined"> account_circle </span>
        <span class="button__txt"> Profil </span>
    </button>

    <button (click)="logout()" class="btn__select">
        <span class="material-icons-outlined"> logout </span>
        <span class="button__txt"> Log out </span>
    </button>
</div> -->


<div id="menuNewChat" class="mobile__menu">
    <div (click)="closeMenu()" class="orientation">
        <div>
            <span></span>
        </div>
    </div>

    <div class="container__header">
        <span>Add User</span>
        <span (click)="closeMenu()" class="material-icons-outlined close__element"> close </span>
    </div>

    <form class="search-user-form">
        <input type="text" placeholder="Search user">

        <button>
            Add
        </button>
    </form>
</div>


<div id="menuCreateChannel" class="mobile__menu">
    <div (click)="closeMenu()" class="orientation">
        <div>
            <span></span>
        </div>
    </div>

    <div class="container__header">
        <span>Add User</span>
        <span (click)="closeMenu()" class="material-icons-outlined close__element"> close </span>
    </div>

    <form class="radio-form">

        <div class="container__input">
            <input 
            id="radioAllUser" 
            name="addOption"
            type="radio"
            value="all"
            (click)="hideUserSearchbarNewChannel()"
            checked
            >
            <label for="radioAllUser">Add all members of 
                <span>OfficeTeam</span>
            </label>
        </div>

        <div class="container__elements">

            <div class="container__input">
                <input 
                id="radioSingleUser"
                name="addOption" 
                type="radio"
                value="single"
                (click)="showUserSearchbarNewChannel()"
                >
                <label for="radioSingleUser">Add certain people</label>
            </div>

            <div id="new-channel-search-user" class="container__search hide">
                <input type="text" placeholder="Enter Name">

                <div id="added-user"></div>
            </div>
        </div>

        <div class="container__btn--right">
            <button
            (click)="createChannel()"
            class="btn__log-in"
            >
                Create
            </button>
        </div>
    </form>
</div>