@import '../../../../style/variable.scss';

.panel__titel--left {
  @include panel_titel;
}

.panel__header--titel {
  @include panel_header;
}

.container__elements--column {
  @include container-column;
}

.container__element--spacebetween {
  justify-content: space-between;
}

.sort__elemts--row {
  @include display_aCenter;
  gap: 0.5rem;
}

.element--blue {
  color: var(--color-blue-secondary-hover);
}

.fix--space-left {
  @include item_orientation-left;
}

.cursor__add{
  cursor: pointer;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
animation
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.rotate {
  transform: rotate(-90deg);
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
material design
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.mat-expansion-panel-header {
  padding: 0 1rem 0 24px;
}
.mat-expansion-panel-header-title {
  margin-right: unset;
}
.mat-expansion-panel__content {
  margin-left: 24px;
  display: flex;
  gap: 1.5rem;
}
.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: unset;
}
p {
  margin: 0 0 0;
}