@import "../sign-in/sign-in.component.scss";
@import "../sign-up/sign-up.component.scss";

mat-card {
  height: 406px !important;
}

.sign-in__headline {
  text-align: center;
  line-height: 120%;
}

.block__icon-arrow-back {
  top: 3px !important;
}

.block__input {
  margin-bottom: 0 !important;
}

.block__alert-email {
  top: 180px !important;
}

.block__info-text {
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: var(--color-grey-primary-disable);
  margin: 30px 0;
}
