<!-- CHANNEL subheader -->
<div *ngIf="mainType === 'channel'" class="sub-header">
  <div *ngIf="channel" class="sub-header__title">
    <span class="title__main"
      ># {{ channel.name }}
      <mat-icon>expand_more</mat-icon>
    </span>
  </div>

  <button aria-label="Icon button with a person add icon">
    <mat-icon fontSet="material-icons-outlined">person_add</mat-icon>
  </button>
</div>

<!-- THREAD subheader -->
<div *ngIf="type === 'thread'" class="sub-header">
  <div *ngIf="channel" class="sub-header__title">
    <span class="title__main">Thread</span>
    <span class="title__sub"># {{ channel.name }} </span>
  </div>

  <button (click)="navigateBack()" class="button__close">
    <mat-icon
      *ngIf="channel"
      fontSet="material-icons-outlined"
      aria-label="Icon button with a person add icon"
      [inline]="true"
      >close</mat-icon
    >
  </button>
</div>

<!-- PRIVATE subheader -->
<div *ngIf="mainType === 'private'" class="sub-header">
  <div class="sub-header__title private-header">
    <app-avatar-display
      *ngIf="privateChatAvatarConfig"
      [data]="privateChatAvatarConfig"
    ></app-avatar-display>
    <span *ngIf="privateChatOpponentUser" class="title__main">{{
      privateChatOpponentUser.name
    }}</span>
  </div>
</div>
