<!-- CHANNEL subheader -->
<div 
*ngIf="type === 'channel'"
[class.view__desktop-sub-header]="rs.isDesktop$ | async" 
class="sub-header"
>
  <div *ngIf="channel" class="sub-header__title pointer">
    <span class="title__main"
      ># {{ channel.name }}
      <mat-icon>expand_more</mat-icon>
    </span>
  </div>

  <div class="subheader__icon-container">
    <div *ngIf="isDesktop" class="subheader__avatar-container">
      <div class="subheader__avatar-wrapper">
        <app-avatar-display
          *ngFor="
            let member of fireService.channelMember | async;
            let i = index
          "
          [ngStyle]="{ 'right.px': i * 14 }"
          class="subheader__member-avatar"
          [data]="{ user: member, showStatus: false, size: 'xsmall' }"
        ></app-avatar-display>
      </div>
      <span class="member__counter">{{
        (fireService.channelMember | async)!.length
      }}</span>
    </div>
    <button aria-label="Icon button with a person add icon">
      <mat-icon fontSet="material-icons-outlined">person_add</mat-icon>
    </button>
  </div>
</div>

<!-- THREAD subheader -->
<div *ngIf="type === 'thread'" class="sub-header">
  <div *ngIf="channel" class="sub-header__title pointer">
    <span class="title__main">Thread</span>
    <span class="title__sub"># {{ channel.name }} </span>
  </div>

  <button
    *ngIf="channel"
    [customLink]="['channel', channel.id]"
    (click)="navigateBack()"
    class="button__close"
  >
    <mat-icon
      *ngIf="channel"
      fontSet="material-icons-outlined"
      aria-label="Icon button with a person add icon"
      [inline]="true"
      >close</mat-icon
    >
  </button>
</div>

<!-- PRIVATE subheader -->
<div *ngIf="type === 'private'" class="sub-header">
  <div class="sub-header__title private-header">
    <app-avatar-display
      *ngIf="privateChatAvatarConfig"
      [data]="privateChatAvatarConfig"
    ></app-avatar-display>
    <span *ngIf="privateChatOpponentUser" class="title__main"
      >{{ privateChatOpponentUser.name }}
      <span *ngIf="currentUser.id === privateChatOpponentUser.id">(Du)</span>
    </span>
  </div>
</div>
