app-menu-profil-mobile{
    overflow-y: hidden;
  }
main{
    min-height: calc(100dvh - 4rem);
    padding: 2rem 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
}
.description{
    margin-top: 1rem;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    .form__name{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .container__btn{
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end;
        button {
            width: fit-content;
            padding: 12px 25px;
            border-radius: 50px;
            font-size: 1rem;
            cursor: pointer;
            color: var(--color-white);
            background-color: var(--color-blue-primary-default);
            border: 1px solid var(--color-blue-primary-default);
            &:hover {
              background-color: var(--color-blue-primary-hover);
              border-color: var(--color-blue-primary-hover);
            }
            &:active {
              background-color: var(--color-blue-primary-default);
              border-color: var(--color-blue-primary-default);
            }
          }
    }
}
input{
    margin-top: 1rem;
    padding: 15px 20px;
    margin-bottom: 0.25rem;
    width: calc(100% - 2px - 40px);
    border: 1px solid var(--color-blue-border);
    border-radius: 30px;
    &:focus{
        outline: none;
        border-color: var(--color-blue-primary-default);
    }
}
.sub-headline{
    font-weight: 700;
}
.btn-disabled {
    background-color: var(--color-grey-primary-disable);
    cursor: not-allowed;
  
    &:hover {
      background-color: var(--color-grey-primary-disable);
      cursor: not-allowed;
    }
  }

.block__alert {
  color: var(--color-purple-error);
  font-size: 0.667rem;
}