<main>
    <header>
        <span> Create Channel </span>
        <span [routerLink]="'/home'" class="material-icons-outlined close__element"> close </span>
    </header>

    <p class="description">
        Channels are used by your team to communicate. Ideally they should be topic-related #marketing for example.
    </p>

    <form [formGroup]="createChannelForm">
        <div class="form__name">
            <span class="sub-headline">Channel-name</span>

            <input
            (keyup)="checkInputCreateChannel()"
            formControlName="channelNameForm"
            #inputCreateChannel
            type="text" 
            placeholder="# e.g. cooperation-projects">
            
            <label *ngIf="this.firestoreService.channelAlreadyExist" for="create-channel" class="block__alert">*Channel name exists</label>
            <label *ngIf="err_hash" for="create-channel" class="block__alert">*You forgot hashtag "#"</label>

            <div class="block__alert" *ngIf="channelNameForm?.invalid && (channelNameForm?.dirty || channelNameForm?.touched)">
                <div *ngIf="channelNameForm?.errors?.['minlength']">*Please use at least 4 characters.</div>
                <div *ngIf="channelNameForm?.errors?.['maxlength']">*Please use less than 16 characters.</div>
            </div>
        </div>


        <div>
            <span class="sub-headline">Description </span>
            <span>(optional)</span>
        </div>
        <input 
        type="text"
        #channelDescription
        placeholder="Space for your description">


        <div class="container__btn">
            <button 
            class="btn__submit"
            (click)="submitNewChannel()"
            [disabled]="createChannelForm.invalid || this.firestoreService.channelAlreadyExist || err_hash"
            [class.btn-disabled]="createChannelForm.invalid || this.firestoreService.channelAlreadyExist || err_hash"
            >
            Create
            </button>
        </div>
    </form>
</main>

<!-- <app-dialog-overlay *ngIf="showMenu"></app-dialog-overlay> -->
<app-dialog-new-channel></app-dialog-new-channel>