<main>
    <div>
        <span> Create Channel </span>
        <span class="material-icons-outlined close__element"> close </span>
    </div>

    <p>
        Channels are used by your team to communicate. Ideally they should be topic-related #marketing for example.
    </p>

    <form>
        <span>Channel-name</span>
        <input id="channel-name" type="text" placeholder="# e.g. cooperation-projects">
        <label for="channel-name">Channel name exists</label>

        <div>
            <span>Description</span>
            <span>(optional)</span>
        </div>
        <input type="text" placeholder="Space for your description">

        <button>Create</button>
    </form>
</main>