@import "../sign-in/sign-in.component.scss";

.block__sign-up {
  width: 100%;
  height: 100vh;
  background-color: var(--color-blue-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-card {
  margin: 30px 16px 0 16px !important;
}

.block__headline-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.icon__arrow-back {
  position: absolute;
  left: 0;
  border-radius: 50px;

  &:hover {
    background-color: var(--color-blue-bg);
  }
}

.block__btn-box {
  justify-content: end !important;
  width: 100%;
  margin-top: 5px;
}

.block__alert-name {
  position: absolute;
  top: 143px;
  color: var(--color-purple-error);
  font-size: 0.667rem;
  left: 18px;
}

.block__alert-email {
  top: 207px !important;
}

.block__alert-password {
  top: 271px;
}

.block__error {
  top: 344px !important;
  left: 18px !important;

}
