main {
    display: flex;
    flex-direction: column;
}

.chat__container {
    // 338px == Height of header and input field + margins
    height: calc(100svh - 338px);
    overflow-y: auto;
}

.message__wrapper {
    position: relative;
    // padding: 10px 0;
    // margin-top: 45px;
}

.message {
    display: flex;
    gap: 20px;
    transition: 125ms ease-in-out;
    position: relative;
    padding: 10px 16px 0 16px;
    margin-bottom: 16px;
}

.message__self {
    flex-direction: row-reverse;

    .message__header {
        flex-direction: row-reverse;
    }

    .message__content {
        background-color: var(--color-blue-primary-hover) !important;
        color: white;
        align-self: flex-end !important;

        border-radius: 30px 0 30px 30px !important;
    }
}

.message__menuOpened {
    background-color: var(--color-blue-bg);
    transition: 125ms ease-in-out;

    &:not(.message__self) {

        .message__content {
            background-color: white;
            transition: 125ms ease-in-out;
        }
    }
}

.message__menu {
    position: absolute;
    left: 10%;
    top: 0;
    transform: translateY(-50%);

    display: flex;
    gap: 5px;

    padding: 3px 15px;

    background-color: white;

    border: 1px solid var(--color-blue-border);
    border-radius: 30px 30px 0 30px;

    button:hover {
        color: var(--color-blue-primary-hover);
    }
}

.message__avatar-container {

    img {
        height: 50px;
        border-radius: 50%;
    }
}

.message__content-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .message__header {
        display: flex;
        gap: 20px;

        .message__header-name {
            font-weight: bold;
            font-size: 18px;
        }

        .message__header-time {
            font-size: 14px;
            color: var(--gray-text);
        }
    }

    .message__content {
        padding: 15px;
        background-color: var(--color-blue-bg);

        align-self: flex-start;

        border-radius: 0 30px 30px 30px;
    }

    .message__footer {
        display: flex;
        gap: 20px;

        >span {
            white-space: nowrap;
        }

        .message__footer-count {
            color: var(--color-blue-secondary-hover);
            font-size: 18px;
        }

        .message__footer-last-timestamp {
            display: flex;
            flex-direction: column;
        }
    }
}