@import './app/style/theme-dabubble.scss';
@import './assets/fonts/nunito/font-nunito.scss';
@import './app/style/material-design.scss';
@import '@ctrl/ngx-emoji-mart/picker';

/* You can add global styles to this file, and also import other style files */
:root {
  --color-black: black;
  --color-black-shadow: rgba(0, 0, 0, 0.2);

  --color-white: white;

  --color-blue-bg: #ECEEFE;
  --color-blue-border: #ADB0D9;
  --color-blue-primary-default: #444DF2;
  --color-blue-primary-hover: #797EF3;
  --color-blue-secondary-hover: #535AF1;

  --color-grey-bar: #d9d9d9;
  --color-grey-hover: #E6E6E6;
  --color-grey-primary-disable: #686868;
  --color-grey-primary-overlay: rgba(104, 104, 104, .5);

  --color-green: #92C83E;
  --color-purple-error: #ED1E79;

  --font-selection: Nunito, Roboto, "Helvetica Neue", sans-serif;

  --sice-avatar_desktop: 168px;
  --sice-avatar_desktop-small: 64px;
  --sice-avatar-dialog: 200px;
  --sice-avatar-message: 50px;
  --sice-avatar-messagefield: 34px;
  --sice-avatar_mobile: 128px;
  --sice-avatar_mobile-small: 48px;
  --sice-icon: 30px;
  --sice-icon-small: 24px;
  --sice-icon-online: 16px;

  --shadow-subheader: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
}

html,
body {
  height: 100%;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  font-family: var(--font-selection);
}

.avatar-xsmall {
  width: 34px;
  height: 34px;
  border: 2px solid white;
  border-radius: 100%;
  cursor: pointer;
}

.avatar-small {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
}

.avatar-medium {
  width: 88px;
  height: 88px;
  border-radius: 100%;
  cursor: pointer;
}

.avatar-icon {
  width: var(--sice-icon);
  height: var(--sice-icon);
  border-radius: 100%;
  cursor: pointer;
}

.element__margin--bottom {
  margin-bottom: 1rem;
}

html,
body {
  height: 100%;
}

button {
  font-family: var(--font-selection);
}

app-navbar,
app-create-channel {
  position: relative;
  display: block;
  overflow-y: hidden;
  width: 100dvw;
  height: 100dvh;
}

.text-btn-stroked {
  padding: 12px 25px !important;
  color: var(--color-blue-primary-default) !important;
  border-color: var(--color-blue-primary-default) !important;
  border-radius: 50px !important;
}

.text-btn-flat {
  padding: 12px 25px !important;
  color: white !important;
  background-color: var(--color-blue-primary-default) !important;
  border-radius: 50px !important;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}