@import './app/style/theme-dabubble.scss';

/* You can add global styles to this file, and also import other style files */
:root{
  --color-black: black;
  --color-white: white;

  --color-blue-primary-default: #444DF2;
  --color-blue-primary-hover: #797EF3;
  --color-blue-secondary-hover: #535AF1;
  --color-blue-bg:#ECEEFE;

  --color-grey-primary-disable:#686868;
  --color-grey-hover:#E6E6E6;
  
  --color-green:#92C83E;
  --color-purple-error: #ED1E79;
  
  --sice-avatar_desktop: 168px;
  --sice-avatar_desktop-small: 64px;
  --sice-avatar-message: 50px;
  --sice-avatar-messagefield: 34px;
  --sice-avatar_mobile: 128px;
  --sice-avatar_mobile-small: 48px;
  --sice-icon: 30px;
  --sice-icon-small: 24px;
  --sice-icon-online: 16px;

}
html{
  font-size: 18px;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.avatar-small{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
}

.element__margin--bottom{
  margin-bottom: 1rem;
}
:root {
  --color-black: black;
  --color-white: white;

  --color-blue-primary-default: #444df2;
  --color-blue-primary-hover: #797ef3;
  --color-blue-secondary-hover: #535af1;
  --color-blue-bg: #eceefe;

  --color-grey-primary-disable: #686868;
  --color-grey-hover: #e6e6e6;

  --color-green: #92c83e;
  --color-purple-error: #ed1e79;

  --sice-avatar_desktop: 168px;
  --sice-avatar_desktop-small: 64px;
  --sice-avatar-message: 50px;
  --sice-avatar-messagefield: 34px;
  --sice-avatar_mobile: 128px;
  --sice-avatar_mobile-small: 48px;
  --sice-icon: 30px;
  --sice-icon-small: 24px;
  --sice-icon-online: 16px;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 18px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-disabled {
  background-color: var(--color-grey-primary-disable) !important;
  cursor: not-allowed !important;
}

.icon-color-black {
  color: var(--color-black) !important;
}
